{% extends 'smtrash/base.html' %}
{% load staticfiles %}
{% block content %}
   <div class="create_task">
        <h1>New task tree</h1>
            <form method="POST" class="task-form">
                {% csrf_token %}
                {{form.as_p}}
                <label for="has_regex">Use regex:</label>
                <input type="checkbox" id="has_regex" name="has_regex" content="Use regex" />
                <br>
                <label for="regex">Regex:</label>
                <input type="text" id="regex" name="regex"/>
                <div id="jstree" name="jstree"></div>
                <button id="btn" type="submit" class="save btn btn-default">Delete</button>
                <input type="hidden" id="files" name="files">
            </form>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
         $('#jstree').jstree({
            'core' : {
                'data': {
                    'url': '/task/get/tree/',
                    'data': function (node) {
                        return {'id': node.id};
                    }
                }
            },
             "types" : {
                 "file": {
                     "icon": "../../../static/css/file.png"
                 },
                 "directory": {}
             },
             'checkbox': {
                three_state: false,
                cascade: 'down'
            },
            "plugins" : ["checkbox", "types", "state"]});

        $('#btn').on('click', function (event) {
                var jstree = document.getElementById("jstree");
                var selected_files = $('#jstree').jstree('get_selected');
                $('#files').val(JSON.stringify(selected_files));
            }
        );
    </script>
{% endblock scripts %}
