{% extends 'smtrash/base.html' %}

{% block content %}
    <div class="create_trash">
        <h1>New trash</h1>

            <form method="POST" class="trash-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
    </div>
{% endblock content %}