{% extends 'smtrash/base.html' %}

{% block content %}

    <div class="trash-page-header">
        {{header}}
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead">
            <tr>
                <th>Path</th>
                <th>Path to restore</th>
                <th>Trash</th>
            </tr>
            </thead>
            <tbody>
                {% for file in files %}
                    <tr>
                        <th>{{file.name}}</th>
                        <th>{{file.abspath}}</th>
                        <th><a href="{% url 'trash' file.trash.id %}">{{file.trash.name}}</a></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button><a href="{% url 'create_task' %}">Add task</a></button>
    </div>
{% endblock content %}