{% extends 'smtrash/base.html' %}

{% block content %}

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead">
            <tr>
                <th>Name</th>
                <th>Path</th>
                <th>Created time</th>
                <!--<th>Replace when remove</th>-->
                <!--<th>Replace when restore</th>-->
                <th>Time before cleaning</th>
                <th>Size to clean</th>
            </tr>
            </thead>
            <tbody>
                {% for trash in trashes %}
                    <tr>
                        <th><a href="{% url 'trash' trash.id %}">{{trash.name}}</a></th>
                        <th>{{trash.path}}</th>
                        <th>{{trash.created_time}}</th>
                        <!--<th>{{trash.replace_when_remove}}</th>-->
                        <!--<th>{{trash.replace_when_restore}}</th>-->
                        <th>{{trash.time_before_cleaning}}</th>
                        <th>{{trash.size_to_clean}}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'create_trash' %}"><button class="btn btn-default">Add trash</button></a>
    </div>

{% endblock content %}