{% extends 'smtrash/base.html' %}

{% block content %}

    <div class="trash-page-header">
        {{header}}
    </div>
    <ul class="list-group">
        {% for file in files %}
            <li class="list-group-item">{{file.path}}</li>
        {% endfor %}
    </ul>

{% endblock content %}