{% extends 'smtrash/base.html' %}

{% block content %}

    <div class="trash-page-header">
        {{header}}
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead">
            <tr>
                <th>Name</th>
                <th>Path to restore</th>
                <th>Trash</th>
                <th>Restore</th>
            </tr>
            </thead>
            <tbody>
                {% for file in files %}
                    <tr>
                        <th>{{file.name}}</th>
                        <th>{{file.abspath}}</th>
                        <th><a href="{% url 'trash' file.trash.id %}">{{file.trash.name}}</a></th>
                        <th><a href="{% url 'restore' file.id %}">Restore</a></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'create_task_for_trash' trash.id %}"><button class="btn btn-default">Add task</button></a>
    </div>
{% endblock content %}