body {
  padding-top: 50px;
}

input {
    margin: 5px;
}

.create_trash, .create_task{
    margin-left: 20px;
    display: inline-grid;
}

.file-path{
    margin-bottom: 5px;
}

#files {
    display: inline-grid;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.trash-page-header{
    font-size: 12pt;
    padding-left: 15px;
    color: rgba(253, 240, 255, 0.54);
    margin: 0;
    background: rgba(0, 0, 0, 0.74);
}

.thead{
    background: rgba(220, 220, 220, 0.33);
}

.table-bordered a {
    color: #000;
    text-decoration-line: underline;
}

.navbar-nav{
    float: right;
}

button a{
    color: black;
}